.app {
  height: 100vh;
  display: flex;
  background-color: #020230;
  color: white;
}

.main {
  width: 75%;
  background: url("./assets/sg3.jpg") center;
}

.pyramid {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.moneyList {
  list-style: none;
  width: 100%;
  padding: 20px;
}

.moneyListItem {
  display: flex;
  align-items: center;
}

.moneyListItem.active {
  background-color: teal;
}

.moneyListItemNumber {
  font-size: 15px;
  font-weight: 50;
}

.moneyListItemAmount {
  font-size: 20px;
  font-weight: 300;
}
